env:
  browser: true
  commonjs: true
  es6: true
  jest: true
  node: true
extends: 'airbnb'
globals:
  ENV: 'writable'
parserOptions:
  ecmaFeatures:
    jsx: true
  ecmaVersion: 2018
  sourceType: module
plugins:
  - import
  - jest
  - jsx-a11y
  - react
rules:
  react/jsx-filename-extension:
   - 1
   - extensions:
     - .js
     - .jsx
